<div class="container mb-5">
  <div class="row">
    <div class="col-12 col-sm-7 mx-auto">
      <div class="card mt-2">
        <div class="card-header text-center">
          <%= image_tag @recipe.recipe_image, style:"width: 100%; object-fit: cover;" %>
        </div>
        <div class="card-body mx-4" style="display: flex; align-items: center;">
          <div>
            <%= link_to user_path(@recipe.user) do %>
              <%= image_tag @recipe.user.get_profile_image, class: "rounded-circle", style:"width: 60px; height: 60px; object-fit: cover;" %>
            <% end %>
          </div>
          <div>
            <ul style="list-style: none;">
              <li><%=link_to @recipe.user.name, user_path(@recipe.user), class:"user-name-link" %></li>
              <li><b><%= @recipe.title %></b></li>
              <!--レシピに追加されたタグを表示-->
              <li>
                <% if @recipe_tags.present? %>
                  <% @recipe_tags.each do |tag| %>
                    <div>
                      <i class="fa-sharp fa-solid fa-tag"></i>
                      <%= link_to tag.name, tag_search_tag_path(tag), class:"recipe-tags-link" %>
                    </div>
                  <% end %>
                <% end %>
              </li>
              <!--いいね数とコメント数表示-->
              <li>
                <span id="favorite_btn_<%= @recipe.id %>"><%= render "public/favorites/favorite_btn", recipe: @recipe %></span>/
                <span id="comment_count"><%= render 'public/comments/comment_count', recipe: @recipe %></span>
              </li>
            <ul>
          </div>
        </div>
        <div class="card-text mx-4 mb-3">
          <p style="margin-bottom: 0;">材料</p>
          <div style="border: 1px solid #ccc;">
            <%= safe_join(@recipe.material.split("\n"),tag(:br))%>
          </div>
          <p style="margin-bottom: 0;">手順</p>
          <div style="border: 1px solid #ccc;">
            <%= safe_join(@recipe.process.split("\n"),tag(:br))%>
          </div>
          <% if @recipe.user == current_user %>
            <div class="text-right mt-2">
              <%= link_to "編集", edit_recipe_path(@recipe), class:"btn btn-outline-info" %>
              <%= link_to "削除", check_recipe_path(@recipe), class:"btn btn-outline-danger ml-4" %>
            </div>
          <% end %>
          <!--コメント入力フォーム-->
          <div id="comment_form" class="mt-2">
            <%= render 'public/comments/comment_form', recipe: @recipe, comment: @comment %>
          </div>
          <!--コメント一覧表示-->
          <div id="comment_index" class="mt-4">
            <%= render 'public/comments/comment_index', recipe: @recipe %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>