<div clas="container">
  <div class="row">
    <div class="col-7 mx-auto">
      <div class="card mt-2">
        <div class="card-header text-center">
          <%= image_tag @recipe.recipe_image, style:"width: 100%; object-fit: cover;" %>
        </div>
        <div class="card-body mx-4" style="display: flex; align-items: center;">
          <div><%= image_tag @recipe.user.get_profile_image, class: "rounded-circle", style:"width: 60px; height: 60px;" %></div>
          <div>
            <ul style="list-style: none;">
              <li><%=link_to @recipe.user.name, user_path(@recipe.user) %></li>
              <li><b><%=link_to @recipe.title, recipe_path(@recipe) %></b></li>

              <!--レシピに追加されたタグを表示-->
              <%= render "public/recipes/recipe_tag", recipe_tags: @recipe_tags %>
              <!--いいね数とコメント数表示-->
              <li>
                <span id="favorite_btn_<%= @recipe.id %>"><%= render "public/favorites/favorite_btn", recipe: @recipe %></span>/コメント<%= @recipe.comments.count %>件
              </li>
            <ul>
          </div>
        </div>
        <div class="card-text mx-4 mb-3">
          <p style="margin-bottom: 0;">材料</p>
          <div style="border: 1px solid #ccc;">
            <%= @recipe.material %>
          </div>
          <p style="margin-bottom: 0;">手順</p>
          <div style="border: 1px solid #ccc;">
            <%= @recipe.process %>
          </div>
          <% if @recipe.user == current_user %>
            <div class="text-right mt-2">
              <%= link_to "編集", edit_recipe_path(@recipe), class:"btn btn-success" %>
              <%= link_to "削除", check_recipe_path(@recipe), class:"btn btn-danger ml-4" %>
            </div>
          <% end %>
          <!--コメント入力フォーム-->
          <div class="mt-2">
            <%= form_with model: [@recipe, @comment] do |f| %>
            <div style="display: flex; align-items: center;">
              <%= f.text_field :comment, placeholder:"コメントを入力", class:"form-control", style:"width: 80%;" %>
              <%= f.submit "送信", class:"btn btn-primary ml-4" %>
            </div>
            <% end %>
          </div>
          <!--コメント一覧表示-->
          <div class="mt-4">
            <% @recipe.comments.each do |comment| %>
            <div class="mt-1" style="border: 1px solid #ccc; display: flex; align-items: center;">
              <div class="ml-4">
                <%= image_tag comment.user.get_profile_image , class: "rounded-circle", style:"width: 50px; height: 50px;" %>
              </div>
              <div>
                <ul style="list-style: none;">
                  <li><%= comment.user.name %></li>
                  <li><%= comment.comment %></li>
                </ul>
              </div>
            </div>
            <div class="text-right mt-1">
              <%= link_to "削除する", recipe_comment_path(comment.recipe, comment), method: :delete, class:"btn btn-danger" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>