<div class="container">
  <!--サイト説明-->
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="mb-4 mt-5">About</h1>
      <h5>
        このサイトはトレーニング中のレシピを共有するSNSサイトです。</br>
        増量や減量のために作った料理の写真とレシピの投稿および閲覧が可能です。</br>
        会員登録をすることで、写真の投稿・他のユーザーの投稿への</br>
        いいねやコメントのアクションを送ることができます。
      </h5>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 mx-auto text-center">
      <h4>今週の人気ランキング</h4>
    </div>
  </div>

<!--今週のいいねランキング上位３件を表示-->
  <div class="row">
    <% @recipes.first(3).each_with_index do |recipe, index| %>
      <div class="col-lg-4 col-md-7 mx-auto">
        <h4 class=" crown-icon text-center">
          <% if index == 0 %>
            <i class="fa-solid fa-crown" style="color: #aea219;"> 1位</i> <!-- 1位のアイコン -->
          <% elsif index == 1 %>
            <i class="fa-solid fa-crown" style="color: #ababab;"> 2位</i> <!-- 2位のアイコン -->
          <% elsif index == 2 %>
            <i class="fa-solid fa-crown" style="color: #bf8508;"> 3位</i> <!-- 3位のアイコン -->
          <% end %>
        </h4>
        <% if user_signed_in? %>
        <!--ログインしているときはユーザー情報のリンクを表示-->
          <div class="card mb-3" style="height:500px;">
            <div class="card-header text-center">
              <%= image_tag recipe.recipe_image, style:"width: 100%; height: 300px; object-fit: cover;" %>
            </div>
            <div class="card-body" style="display: flex; align-items: center;">
              <div><%= image_tag recipe.user.get_profile_image, class: "rounded-circle", style:"width: 60px; height: 60px;" %></div>
              <div>
                <ul style="list-style: none;">
                  <li><%=link_to recipe.user.name, user_path(recipe.user) %></li>
                  <li><b><%=link_to recipe.title, recipe_path(recipe) %></b></li>
                  <li><%= render "public/recipes/recipe_tag", recipe_tags: recipe.tags %></li>
                  <li>
                    <%= render "public/favorites/favorite_btn", recipe: recipe %>/コメント<%= recipe.comments.count %>件
                  </li>
                <ul>
              </div>
            </div>
          </div>
        <% else %>
        <!--ログインしていないときはリンクを非表示-->
          <div class="card mb-3" style="height:500px;">
            <div class="card-header text-center">
              <%= image_tag recipe.recipe_image, style:"width: 100%; height: 300px; object-fit: cover;" %>
            </div>
            <div class="card-body" style="display: flex; align-items: center;">
              <div><%= image_tag recipe.user.get_profile_image, class: "rounded-circle", style:"width: 60px; height: 60px;" %></div>
              <div>
                <ul style="list-style: none;">
                  <li><%= recipe.user.name %></li>
                  <li><b><%= recipe.title %></b></li>
                  <li>
                    <% if recipe.tags.present? %>
                      <% recipe.tags.each do |tag| %>
                        <i class="fa-sharp fa-solid fa-tag"></i>
                        <%= tag.name %>
                      <% end %>
                    <% end %>
                  </li>
                  <li>♥<%= recipe.favorites.count %>件/コメント<%= recipe.comments.count %>件</li>
                <ul>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-7 mx-auto text-right">
      <%= link_to recipes_ranking_path do %>
        <p><i class="fa-regular fa-hand-point-right"></i>人気ランキングをもっと見る</p>
      <% end %>
    </div>
  </div>


</div>