<div class="container">
  <div class="row">
    <div class="col-12 col-sm-7 mx-auto mt-5">
      <!--エラー文-->
      <div class="text-center">
        <%= render "layouts/errors", obj: @tag %>
      </div>
      <!--入力フォーム-->
      <div class="text-center">
        <%= form_with model: @tag, url: admin_tag_path, local: true, method: :patch do |f| %>
          <div class="row d-flex mt-3">
            <div class="my-auto col-12 col-md-3 text-left">
              <%= f.label :name, "タグ名" %>
            </div>
            <div class="my-auto text-left col-12 col-md-9">
              <%= f.text_field :name, class:"form-control" %>
            </div>
          </div>
          <div>
            <%= f.submit "編集内容を保存", class:"btn btn-outline-info mt-4" %>
            <%= link_to "タグを削除する", check_admin_tag_path(@tag), class:"btn btn-outline-danger mt-4" %>
           </div>
        <% end %>
      </div>
    </div>
  </div>
</div>