<div class="container">
  <div class="row">
    <!--ユーザー検索時の表示-->
    <% if @model == 'user' %>
      <div class="col-7 mx-auto text-center mt-5">
        <h4>ユーザー名に"<%= @content %>"を含むユーザー一覧</h4>
          <% if @records.present? %>
            <%= render 'public/users/index', users: @records %>
          <% else %>
            <h4 class="mt-5">"<%= @content %>"を含むユーザーは存在しません</h4>
        <% end %>
      </div>
    <!--レシピ検索時の表示-->
    <% elsif @model == 'recipe' %>
      <div class="col-7 mx-auto text-center mt-5">
        <h4>レシピ名に"<%= @content %>"を含むレシピ一覧</h4>
          <% if @records.present? %>
            <%= render 'public/recipes/recipe_index', recipes: @records %>
          <% else %>
            <h4 class="mt-5">レシピ名に"<%= @content %>"を含むレシピは存在しません</h4>
          <% end %>
      </div>
    <!--タグ検索時の表示-->
    <% else %>
      <div class="col-7 mx-auto text-center mt-5">
        <h4>タグ名に"<%= @content %>"を含むレシピ一覧</h4>
          <% if @records.present? %>
            <%= render 'public/recipes/tag_index', tags: @records %>
          <% else %>
            <h4 class="mt-5">タグ名に"<%= @content %>"を含むレシピは存在しません</h4>
          <% end %>
      </div>
    <% end %>
  </div>
</div>