<table class="table table-bordered">
  <% users.each do |user| %>
    <tr>
      <td class="align-middle text-center" style="width: 10%;">
        <%= link_to admin_user_path(user) do %>
          <%= image_tag user.get_profile_image, class: "rounded-circle", style:"width: 50px; height: 50px; object-fit: cover;" %>
        <% end %>
      </td>
      <td class="align-middle" style="width:35%;">
        <%= link_to admin_user_path(user) do %>
          <span class="user-name-link">ユーザー名:<%= user.name %></span>
        <% end %>
      </td>
      <td class="align-middle" style="width: 35%;">
          投稿数:<%= user.recipes.count %>件</br>
          フォロー数:<%= user.following_users.count %>名</br>
          フォロワー数:<%= user.follower_users.count %>名
      </td>
      <td class="align-middle" class="text-center" style="width: 20%;">
        <%= link_to "詳細を見る", admin_user_path(user), class:"btn btn-outline-info" %>
      </td>
    </tr>
  <% end %>
</table>