<table class="table table-bordered">
  <% users.each do |user| %>
    <tr style="height: 60px;">
      <td class="align-middle" style="width: 20%;">
        <%= link_to user_path(user) do %>
          <%= image_tag user.get_profile_image, class: "rounded-circle", style:"width: 50px; height: 50px;" %>
        <% end %>
      </td>
      <td class="align-middle" style="width: 50%;">
        <%= link_to user.name, user_path(user), class:"user-name-link" %>
      </td>
      <td id="follow_btn_<%= user.id %>" style="width: 30%;" class="align-middle">
        <% if user != current_user %>
          <%= render "public/relationships/follow_btn", user: user %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<div class="col-12 d-flex justify-content-center my-4">
  <%= paginate users %>
</div>