<div class="container">
<!--プロフィール表示-->
  <div class="row d-flex justify-content-center text-center align-items-center mt-5 mb-4">
    <div class="col-12 col-sm-2 col-lg-2 mb-3">
      <%= image_tag @user.get_profile_image, class: "rounded-circle test-image" %>
    </div>
    <div class="col-4 col-sm-2 col-lg-1">
      <p><%= @user.name %></p>
      <p><%= @recipes_all.count %>投稿</p>
    </div>
    <div class="col-4 col-sm-3 col-lg-2">
      <p>
        <%= link_to user_followings_path(@user) do %>
          <span class="followings-link"><%= @user.following_users.count %>フォロー</span>
        <% end %>
      </p>
      <p>
        <span id="follower_count_<%= @user.id %>"><%= render 'public/relationships/follower_count', user: @user %></span>
      </p>
    </div>
    <% if @user == current_user %>
      <div class="col-4 col-sm-2 col-lg-1">
        <p><%= link_to "いいね", favorite_recipes_user_path(@user), class: 'btn btn-outline-success btn-sm' %></p>
        <p><%= link_to "編集", edit_user_path, class: 'btn btn-outline-info btn-sm' %></p>
      </div>
    <% else %>
      <div class="col-4 col-sm-3 col-lg-2 text-left">
        <p><span colspan="2" id="follow_btn_<%= @user.id %>"><%= render "public/relationships/follow_btn", user: @user %></span></p>
        <p></p>
      </div>
    <% end %>
    <div class="col-12 col-sm-10 col-lg-7">
      <% if @user.introduction.present? %>
        <p style="border: 1px solid #000;">
          <%= safe_join(@user.introduction.split("\n"),tag(:br))%>
        </p>
      <% end %>
    </div>
  </div>
<!--投稿一覧-->
  <% if @recipes.present? %>
    <div class="row">
      <%= render 'public/recipes/recipe_index', recipes: @recipes %>
      <div class="col-12 d-flex justify-content-center my-4">
        <%= paginate @recipes %>
      </div>
    </div>
  <% else %>
    <div class="mx-auto">
      <h4 class="text-center mt-2">投稿はありません</h4>
    </div>
  <% end %>
</div>