<div class="container">
  <!--プロフィール表示-->
  <div class="row">
    <div class="col-12 col-md-8 col-lg-7 col-xl-6 mx-auto text-center">
      <table class="table table-borderless mx-auto mt-5">
        <tr>
          <td rowspan="2" class="align-middle" style="width:25%">
            <%= image_tag @user.get_profile_image, class: "rounded-circle", style: "max-width: 100%; height: auto; min-width: 50px;" %>
          </td>
          <td class="align-middle" style="width:25%">
            <h5><%= @user.name %></h5>
          </td>
          <% if @user == current_user %>
            <td class="align-middle" style="width:25%">
              <%= link_to "編集", edit_user_path, class: 'btn btn-outline-info' %>
            </td>
            <td class="align-middle" style="width:25%">
              <%= link_to "いいね", favorite_recipes_user_path(@user), class: 'btn btn-outline-success' %>
            </td>
          <% else %>
            <td colspan="2" id="follow_btn_<%= @user.id %>">
              <%= render "public/relationships/follow_btn", user: @user %>
            </td>
          <% end %>
        </tr>
        <tr>
          <td><%= @recipes_all.count %>投稿</td>
          <td>
            <%= link_to user_followings_path(@user) do %>
              <span class="followings-link"><%= @user.following_users.count %>フォロー</span>
            <% end %>
          </td>
          <td id="follower_count_<%= @user.id %>"><%= render 'public/relationships/follower_count', user: @user %></td>
        </tr>
        <% if @user.introduction.present? %>
          <tr style="border: 1px solid #000;">
            <td colspan="4">
              <%= safe_join(@user.introduction.split("\n"),tag(:br))%>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <!--投稿一覧-->
    <% if @recipes.present? %>
      <div class="row">
        <%= render 'public/recipes/recipe_index', recipes: @recipes %>
      </div>
      <div class="col-12 d-flex justify-content-center my-4">
        <%= paginate @recipes %>
      </div>
    <% else %>
      <div class="mx-auto">
        <h4 class="text-center mt-2">投稿はありません。</h4>
      </div>
    <% end %>
  </div>
</div>