<div class="container">
  <!--プロフィール表示-->
  <div class="row">
    <div class="col text-center">
      <table class="table table-borderless mx-auto mt-5", style="width: 70%;">
        <tr>
          <td rowspan="2" class="align-middle"><%= image_tag @user.get_profile_image, class: "rounded-circle", style:"width: 100px; height: 100px;" %></td>
          <td><h5><%= @user.name %></h5></td>
          <% if @user == current_user %>
            <td><%= link_to "編集する", edit_user_path, class: 'btn btn-primary ml-4' %></td>
            <td><%= link_to "いいねしたレシピ", recipes_ranking_path, class: 'btn btn-success ml-4' %></td>
          <% else %>
            <td><%= render "public/relationships/follow_btn", user: @user %></td>
          <% end %>
        </tr>
        <tr>
          <td>投稿<%= @recipes.count %>件</td>
          <td>フォロー<%= link_to @user.following_users.count, user_followings_path(@user)  %>人</td>
          <td>フォロワー<%= link_to @user.follower_users.count, user_followers_path(@user) %>人</td>
        </tr>
        <% if @user.introduction.present? %>
          <tr style="border: 1px solid #000;">
            <td colspan="4">
              <%= @user.introduction %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <!--投稿一覧-->
  <div class="row">
    <div class="col-7 mx-auto">
      <% @recipes.each do |recipe| %>
      <div class="card mt-2">
        <div class="card-header text-center">
          <%= image_tag recipe.recipe_image, style:"width: 100%; object-fit: cover;" %>
        </div>
        <div class="card-body" style="display: flex; align-items: center;">
          <div><%= image_tag recipe.user.get_profile_image, class: "rounded-circle", style:"width: 60px; height: 60px;" %></div>
          <div>
            <ul style="list-style: none;">
              <li><%=link_to recipe.user.name, user_path(recipe.user) %></li>
              <li><b><%=link_to recipe.title, recipe_path(recipe) %></b></li>
              <li>タグ機能追加後にタグ一覧追加</li>
              <li>ハート・コメント<%= recipe.comments.count %>件</li>
            <ul>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>