<!--検索フォーム-->
<div class="serch_form">
    <%= form_with url: search_path,method: :get, local: true do |f| %>
    <%= f.text_field :content, size: 15 %>
    <%= f.select :model,options_for_select({"ユーザー名"=>"user","レシピ名"=>"recipe", "タグ名"=>"tag"})%>
    <%= f.hidden_field :method, value: "partial" %>
    <%= f.submit'検索' %>
    <% end %>
</div>